:root {
  --main-bg-color: #222225;
  --main-text-color: #C4C4C6;
  --main-title-color: #ffffff;
  --main-active-color: #D4594C;
  --main-hover-color: #F0897E;
  --main-link-color: #7A7A7A;
  --main-border-color: #52525A;
  --secondary-text-color: #DADAE1;
  --secondary-title-color: #919192;
  --secondary-border-color: #484849;
  --secondary-btn-color: #1E1E21;
  --secondary-bg-color: #414144;
  --secondary-decor-color: #929292;
  --decor-border-color: rgba(82, 82, 90, 0.3);
  --decor-bg-color: #3D3D46;
  --decor-text-color: #919191;
  --complete-color: #5EB76E;
  --complete-color-hover: #7DCA8B;
  --card-bg-color: #2F2F34;
  --card-text-color: #8C8C91;
  --card-title-color: #FAFAFC;
  --item-bg-color: #414146;
  --item-text-color: #989899;
  --link-color: #4C8BD4
}
$main-bg-color: var(--main-bg-color);
$main-text-color: var(--main-text-color);
$secondary-text-color: var(--secondary-text-color);
$main-title-color: var(--main-title-color);
$main-active-color: var(--main-active-color);
$decor-border-color: var(--decor-border-color);
$main-link-color: var(--main-link-color);
$secondary-title-color: var(--secondary-title-color);
$complete-color: var(--complete-color);
$card-bg-color: var(--card-bg-color);
$main-border-color: var(--main-border-color);
$secondary-border-color: var(--secondary-border-color);
$card-text-color: var(--card-text-color);
$card-title-color: var(--card-title-color);
$item-bg-color: var(--item-bg-color);
$item-text-color: var(--item-text-color);
$secondary-btn-color: var(--secondary-btn-color);
$secondary-bg-color: var(--secondary-bg-color);
$decor-bg-color: var(--decor-bg-color);
$decor-text-color: var(--decor-text-color);
$secondary-decor-color: var(--secondary-decor-color);
$complete-color-hover: var(--complete-color-hover);
$main-hover-color: var(--main-hover-color);
$link-color: var(--link-color);
